# Quantium Data Analysis

In [1]:
#Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Load datasets
transaction_data = pd.read_excel("QVI_transaction_data.xlsx")
purchase_date = pd.read_csv("QVI_purchase_behaviour.csv")

## 1. Data Cleaning

### 1.1. Examining transaction data

In [3]:
transaction_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [4]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

In [5]:
#Change dtype to save memory
transaction_data['TOT_SALES'] = transaction_data['TOT_SALES'].astype('float32') #Change float64 to float32

int64 =  transaction_data.select_dtypes(include=['int64']).columns.tolist() 
transaction_data[int64] = transaction_data[int64].astype('int32') #Change int64 to int32

transaction_data['PROD_NAME'] = transaction_data['PROD_NAME'].astype('category')

In [6]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int32
 1   STORE_NBR       264836 non-null  int32
 2   LYLTY_CARD_NBR  264836 non-null  int32
 3   TXN_ID          264836 non-null  int32
 4   PROD_NBR        264836 non-null  int32
 5   PROD_NAME       264836 non-null  category
 6   PROD_QTY        264836 non-null  int32
 7   TOT_SALES       264836 non-null  float32
dtypes: category(1), float32(1), int32(6)
memory usage: 7.3 MB

Memory usage from 16.2+ MB change to 7.3 MB

In [7]:
transaction_data.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,264836.000000,264836.00000,2.648360e+05,2.648360e+05,264836.000000,264836.000000,264836.000000
mean,43464.036260,135.08011,1.355495e+05,1.351583e+05,56.583157,1.907309,7.302778
std,105.389282,76.78418,8.057998e+04,7.813303e+04,32.826638,0.643654,3.083583
min,43282.000000,1.00000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000
25%,43373.000000,70.00000,7.002100e+04,6.760150e+04,28.000000,2.000000,5.400000
50%,43464.000000,130.00000,1.303575e+05,1.351375e+05,56.000000,2.000000,7.400000
75%,43555.000000,203.00000,2.030942e+05,2.027012e+05,85.000000,2.000000,9.200000
max,43646.000000,272.00000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000

The maximum of PROD_QTY, TOT_SALES are outstanding. Let's take a look

In [8]:
transaction_data.loc[transaction_data['PROD_QTY'] == 200]

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,43331,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,43605,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0

There are 2 transactions where 200 packets of chips are purchased in one transaction by the same customer. Let examine other transactions by this customer

In [9]:
transaction_data.loc[transaction_data['LYLTY_CARD_NBR'] == 226000]

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,43331,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,43605,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0

There is no other transactions by this customer. So it is not an ordinary retail customer. I will remove this customer from further analysis

In [10]:
transaction_data = transaction_data.drop(transaction_data[transaction_data.LYLTY_CARD_NBR == 226000].index)
transaction_data.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,264834.000000,264834.000000,2.648340e+05,2.648340e+05,264834.000000,264834.000000,264834.000000
mean,43464.036230,135.079423,1.355488e+05,1.351576e+05,56.583554,1.905813,7.297929
std,105.389007,76.784063,8.057990e+04,7.813292e+04,32.826444,0.343436,2.527142
min,43282.000000,1.000000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000
25%,43373.000000,70.000000,7.002100e+04,6.760050e+04,28.000000,2.000000,5.400000
50%,43464.000000,130.000000,1.303570e+05,1.351365e+05,56.000000,2.000000,7.400000
75%,43555.000000,203.000000,2.030940e+05,2.026998e+05,85.000000,2.000000,9.200000
max,43646.000000,272.000000,2.373711e+06,2.415841e+06,114.000000,5.000000,29.500000

Now check unique values of each column

In [11]:
for column in transaction_data.columns.to_list():
    print("No of unique values in column " + column + " are: " + str(len(np.unique(transaction_data[column]))))

No of unique values in column DATE are: 364
No of unique values in column STORE_NBR are: 272
No of unique values in column LYLTY_CARD_NBR are: 72636
No of unique values in column TXN_ID are: 263125
No of unique values in column PROD_NBR are: 114
No of unique values in column PROD_NAME are: 114
No of unique values in column PROD_QTY are: 5
No of unique values in column TOT_SALES are: 111

In [12]:
transaction_data.isnull().sum().sum()

0

No null values! Now check if I am looking at the right products by examining PROD_NAME

In [13]:
np.unique(transaction_data['PROD_NAME'])

array(['Burger Rings 220g', 'CCs Nacho Cheese    175g',
       'CCs Original 175g', 'CCs Tasty Cheese    175g',
       'Cheetos Chs & Bacon Balls 190g', 'Cheetos Puffs 165g',
       'Cheezels Cheese 330g', 'Cheezels Cheese Box 125g',
       'Cobs Popd Sea Salt  Chips 110g',
       'Cobs Popd Sour Crm  &Chives Chips 110g',
       'Cobs Popd Swt/Chlli &Sr/Cream Chips 110g',
       'Dorito Corn Chp     Supreme 380g',
       'Doritos Cheese      Supreme 330g',
       'Doritos Corn Chip Mexican Jalapeno 150g',
       'Doritos Corn Chip Southern Chicken 150g',
       'Doritos Corn Chips  Cheese Supreme 170g',
       'Doritos Corn Chips  Nacho Cheese 170g',
       'Doritos Corn Chips  Original 170g', 'Doritos Mexicana    170g',
       'Doritos Salsa       Medium 300g', 'Doritos Salsa Mild  300g',
       'French Fries Potato Chips 175g',
       'Grain Waves         Sweet Chilli 210g',
       'Grain Waves Sour    Cream&Chives 210G',
       'GrnWves Plus Btroot & Chilli Jam 180g',
       'Infuzions BBQ Rib   Prawn Crackers 110g',
       'Infuzions Mango     Chutny Papadums 70g',
       'Infuzions SourCream&Herbs Veg Strws 110g',
       'Infuzions Thai SweetChili PotatoMix 110g',
       'Infzns Crn Crnchers Tangy Gcamole 110g',
       'Kettle 135g Swt Pot Sea Salt', 'Kettle Chilli 175g',
       'Kettle Honey Soy    Chicken 175g',
       'Kettle Mozzarella   Basil & Pesto 175g', 'Kettle Original 175g',
       'Kettle Sea Salt     And Vinegar 175g',
       'Kettle Sensations   BBQ&Maple 150g',
       'Kettle Sensations   Camembert & Fig 150g',
       'Kettle Sensations   Siracha Lime 150g',
       'Kettle Sweet Chilli And Sour Cream 175g',
       'Kettle Tortilla ChpsBtroot&Ricotta 150g',
       'Kettle Tortilla ChpsFeta&Garlic 150g',
       'Kettle Tortilla ChpsHny&Jlpno Chili 150g',
       'NCC Sour Cream &    Garden Chives 175g',
       'Natural Chip        Compny SeaSalt175g',
       'Natural Chip Co     Tmato Hrb&Spce 175g',
       'Natural ChipCo      Hony Soy Chckn175g',
       'Natural ChipCo Sea  Salt & Vinegr 175g',
       'Old El Paso Salsa   Dip Chnky Tom Ht300g',
       'Old El Paso Salsa   Dip Tomato Med 300g',
       'Old El Paso Salsa   Dip Tomato Mild 300g',
       'Pringles Barbeque   134g', 'Pringles Chicken    Salt Crips 134g',
       'Pringles Mystery    Flavour 134g',
       'Pringles Original   Crisps 134g', 'Pringles Slt Vingar 134g',
       'Pringles SourCream  Onion 134g',
       'Pringles Sthrn FriedChicken 134g', 'Pringles Sweet&Spcy BBQ 134g',
       'RRD Chilli&         Coconut 150g',
       'RRD Honey Soy       Chicken 165g', 'RRD Lime & Pepper   165g',
       'RRD Pc Sea Salt     165g', 'RRD SR Slow Rst     Pork Belly 150g',
       'RRD Salt & Vinegar  165g', 'RRD Steak &         Chimuchurri 150g',
       'RRD Sweet Chilli &  Sour Cream 165g',
       'Red Rock Deli Chikn&Garlic Aioli 150g',
       'Red Rock Deli SR    Salsa & Mzzrlla 150g',
       'Red Rock Deli Sp    Salt & Truffle 150G',
       'Red Rock Deli Thai  Chilli&Lime 150g',
       'Smith Crinkle Cut   Bolognese 150g',
       'Smith Crinkle Cut   Mac N Cheese 150g',
       'Smiths Chip Thinly  Cut Original 175g',
       'Smiths Chip Thinly  CutSalt/Vinegr175g',
       'Smiths Chip Thinly  S/Cream&Onion 175g',
       'Smiths Crinkle      Original 330g',
       'Smiths Crinkle Chips Salt & Vinegar 330g',
       'Smiths Crinkle Cut  Chips Barbecue 170g',
       'Smiths Crinkle Cut  Chips Chicken 170g',
       'Smiths Crinkle Cut  Chips Chs&Onion170g',
       'Smiths Crinkle Cut  Chips Original 170g',
       'Smiths Crinkle Cut  French OnionDip 150g',
       'Smiths Crinkle Cut  Salt & Vinegar 170g',
       'Smiths Crinkle Cut  Snag&Sauce 150g',
       'Smiths Crinkle Cut  Tomato Salsa 150g',
       'Smiths Crnkle Chip  Orgnl Big Bag 380g',
       'Smiths Thinly       Swt Chli&S/Cream175G',
       'Smiths Thinly Cut   Roast Chicken 175g',
       'Snbts Whlgrn Crisps Cheddr&Mstrd 90g',
       'Sunbites Whlegrn    Crisps Frch/Onin 90g',
       'Thins Chips         Originl saltd 175g',
       'Thins Chips Light&  Tangy 175g',
       'Thins Chips Salt &  Vinegar 175g',
       'Thins Chips Seasonedchicken 175g',
       'Thins Potato Chips  Hot & Spicy 175g',
       'Tostitos Lightly    Salted 175g',
       'Tostitos Smoked     Chipotle 175g',
       'Tostitos Splash Of  Lime 175g', 'Twisties Cheese     270g',
       'Twisties Cheese     Burger 250g', 'Twisties Chicken270g',
       'Tyrrells Crisps     Ched & Chives 165g',
       'Tyrrells Crisps     Lightly Salted 165g',
       'WW Crinkle Cut      Chicken 175g',
       'WW Crinkle Cut      Original 175g',
       'WW D/Style Chip     Sea Salt 200g',
       'WW Original Corn    Chips 200g', 'WW Original Stacked Chips 160g',
       'WW Sour Cream &OnionStacked Chips 160g',
       'WW Supreme Cheese   Corn Chips 200g',
       'Woolworths Cheese   Rings 190g', 'Woolworths Medium   Salsa 300g',
       'Woolworths Mild     Salsa 300g'], dtype=object)

As the Client is the Category of Manager for Chips, I should only focus on the chips product. The salsa products should be removed.

In [14]:
discard = ["Salsa"]
transaction_data = transaction_data[transaction_data['PROD_NAME'].apply(lambda x: 'Salsa' not in x)]
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246740 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            246740 non-null  int32
 1   STORE_NBR       246740 non-null  int32
 2   LYLTY_CARD_NBR  246740 non-null  int32
 3   TXN_ID          246740 non-null  int32
 4   PROD_NBR        246740 non-null  int32
 5   PROD_NAME       246740 non-null  category
 6   PROD_QTY        246740 non-null  int32
 7   TOT_SALES       246740 non-null  float32
dtypes: category(1), float32(1), int32(6)
memory usage: 8.7 MB

Now let's create an other attribute to get pack size from PROD_NAME